.chart {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-line-symbol.series0 {
    -fx-background-color: transparent, transparent;
}

.chart-series-line.series1 {
    -fx-stroke: transparent;
}
.chart-line-symbol.series1 {
    -fx-background-color: green, red;
}