.chart-line-symbol.series0 {-fx-background-color: transparent, transparent;}
.default-color0.chart-series-line { -fx-stroke: #f3622d; }

.chart-line-symbol.series1 {-fx-background-color: transparent, transparent;}
.default-color1.chart-series-line { -fx-stroke: #fba71b; }

.chart-line-symbol.series2 {-fx-background-color: transparent, transparent;}
.default-color2.chart-series-line { -fx-stroke: #57b757; }

.chart-line-symbol.series3 {-fx-background-color: transparent, transparent;}
.default-color3.chart-series-line { -fx-stroke: #41a9c9; }


.chart-series-line.series4 {-fx-stroke-width: 3px; -fx-effect: null;}
.chart-line-symbol.series4 {-fx-background-color: #f3622d, #f3622d;}
.default-color4.chart-series-line { -fx-stroke: transparent; }


.chart-series-line.series5 {-fx-stroke-width: 3px; -fx-effect: null;}
.chart-line-symbol.series5 {-fx-background-color: #fba71b, #fba71b;}
.default-color5.chart-series-line { -fx-stroke: transparent; }

.chart-series-line.series6 {-fx-stroke-width: 3px; -fx-effect: null;}
.chart-line-symbol.series6 {-fx-background-color: #57b757, #57b757;}
.default-color6.chart-series-line { -fx-stroke: transparent; }

.chart-series-line.series7 {-fx-stroke-width: 3px; -fx-effect: null;}
.chart-line-symbol.series7 {-fx-background-color: #41a9c9, #41a9c9;}
.default-color7.chart-series-line { -fx-stroke: transparent; }